/*Tamaño de los iconos dentro del modelo de caja en la pagina principal "3dbricks.html"*/

.icon{
    width: 25%;
}

/* Estilo para el section de el index "3dbricks.html" */

#seccion{
    margin-top: 48px;
    margin-bottom: 48px;
    padding-left: 5%;
    padding-right: 5%;
}

/* para dar tamaño, margen y centrar los articulos dentro del modelo de caja */

.articles{
    margin: 1%;
    width: 48%;
    float: left;
    text-align: center;
}

/* para centrar el texto de la sección "sobre nosotros" */

.centert{
    text-align: center;
    color: white;
    padding-top: 50px;
}

/* Estilo para el id "nosotros" para dar color y tamaño al <div> */

#nosotros{
    width: 100%;
    background-color: #201d45;
    height: 500px;
}

/* Estilo del texto dentro del div con id "nosotros" */

.pargraph{
    margin-right: 20%;
    margin-left: 20%;
    color: white;
    font-size: 20px;
    text-align: center;
}

/* Estilo para los Asides con una imagen, para que estos abarquen la mitad de la pagina */

.columnas{
    flex-direction: column;
}
.imgcompra{
    width: 20%;
}

@media (max-width: 992px) { 
    .columnflex{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 992px) { 
    .columnflex{
        display: flex;
        width: 100%;
    }
}


@media (max-width: 992px) { 
    .halfloat{
        float: left;
        width: 100%;
        height: 100%;
    }
    #root{
        width: 60%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    .cart-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: white;
        border-bottom: 1px solid #aaa;
        border-radius: 3px;
        margin: 10px 10px;
    }
    #compras{
        display: flex;
        flex-direction: column;
        width: 100%;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
    }
}

@media (min-width: 992px) { 
    .halfloat{
        float: left;
        width: 50%;
        height: 100%;
    }
    #root{
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .cart-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: white;
        border-bottom: 1px solid #aaa;
        border-radius: 3px;
        margin: 10px 10px;
    }
    #compras{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
    }
}



/* Relleno propio para los section de la pagina "sobre nosotros" */

#secnosotros{
    padding: 5%;
}

/* tamaño de texto para los parrafos dentro de la pagina "sobrenosotros.html" */

@media (min-width: 992px) and (max-width: 1250px) {
    .textus{
        font-size: 20px;
    }
 }
@media (min-width: 1250px) and (max-width: 1480px) {
    .textus{
        font-size: 25px;
    }
 }
 @media (min-width: 1480px) {
    .textus{
        font-size: 30px;
    }
 }

 @media (max-width: 992px) {
    .textus{
        font-size: 18px;
    }
 }

/* para centrar la información de mision y vision en la pagina "sobrenosotros.html" */
.center{
    text-align: center;
}

/* ------- estilos de las listas para la barra de navegación ------- */

li{
    margin-left: 2%;
    margin-right: 2%;
    font-size: 20px;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#212529;
    color:#FFC107;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    border: 1px solid #FFC107;
    border-radius: 10px;
}

.nav li a:hover {
    background-color:#FFC107;
    color:#212529;
}

.nav li ul {
    display:none;
    position:absolute;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
    z-index: 2;
}

.nav li ul li ul {
    right: -120px;
    top:10px;
    z-index: 2;
}

/*-- Estilos para el color del texto y los SVGs del footer --*/

svg
{
    fill: #FFC107;
}

.warcol{
    color: #FFC107;
}

@media (min-width: 992px) and (max-width: 1480px) { 
    .articlecenter{
        padding-top: 10%;
        font-size: 15px;
    }
 }

 @media (min-width: 1480px) { 
    .articlecenter{
        padding-top: 10%;
        font-size: 25px;
    }

 }
 

 @media (min-width: 992px) and (max-width: 1480px) { 
    .creador{
        margin: 1%;
        width: 18%;
        float: left;
        text-align: center;
    }
    .creadorcen{
        font-size: 18px;
    }
    .icono{
        width: 25%;
    }

 }

 @media (min-width: 1480px) { 
    .creador{
        margin: 1%;
        width: 18%;
        float: left;
        text-align: center;
    }
    .creadorcen{
        font-size: 20px;
    }
    .icono{
        width: 25%;
    }
 }

 @media (max-width: 992px) { 
    .creador{
        margin: 1%;
        width: 100%;
        float: left;
        text-align: center;
    }
    .creadorcen{
        font-size: 20px;
        text-align: center;
    }

    .icono
    {
        width: 10%;
    }

 }

 /*************************************************/

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header{
    height: 80px;
    width: 70%;
    background-color: goldenrod;
    border-radius: 3px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.header .logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}
.fa-solid{
    color: goldenrod;
}
.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: goldenrod;
    color: white;
}
.container{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}

.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.head{
    background-color: goldenrod;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 15px;
}
.img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 20px;
    color: red;
}
.catbutton{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: goldenrod;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
.catbutton:hover{
    background-color: #333;
}
.paginbutton
{
    width: 50px;
    height: 50px;
    position: relative;
    background-color: goldenrod;
    cursor: pointer;
    color: white;
    text-decoration: none;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.paginbutton:hover
{
    background-color: #333;
}

.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash:hover{
    cursor: pointer;
    color: #333;
}
.buybutton{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
.buybutton:hover{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #286928;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}

input{
    background-color: #292b2c;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
}

.contactoss
{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.centervert
{
    margin-top: 25%;
}